
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flux_rss{
    width:90%;
    margin:auto;
    border-left:1px;
} 
.date_gene{
    margin-left:10px;
} 
p{
    padding:10px;
}  
.navbar {
    background-color: #333; 
    padding:30px; 
    overflow: hidden;
}      
.navbar h1 {
            float: left; 
            margin: 0; 
        }
.navbar a {
            float: right; 
            margin: 10px; 
        }   
.minor{
       color:yellow;
       }  
.major{
       color:orange;
       }
.critical{
       color:red;
       }                                                  
